{{>header}}

<div class="row center-align">
    <h3>List projects of {{username}}</h3>
</div>
<table class="center-align">
    <thead>
    <tr>
        <th class="center-align">Name</th>
        <th class="center-align">Description</th>
    </tr>
    </thead>
    <tbody>
    {{#projects}}
    <tr class="center-align">
        <td class="center-align"><a href="projects/{{id}}?userName={{username}}">{{name}}</a></td>
        <td class="center-align">{{description}}</td>
    </tr>
    {{/projects}}
    </tbody>
</table>

{{>footer}}
