{{>header}}

<div class="row center-align">
    <h3>List projects of {{username}}</h3>
</div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {{#projects}}
    <tr>
        <td><a href="projects/{{id}}?userName={{username}}">{{name}}</a></td>
        <td>{{description}}</td>
    </tr>
    {{/projects}}
    </tbody>
</table>
<hr/>
<a href="/mvc/projects/new?userName={{username}}"> Create new project </a>

<hr/>
<a href="/mvc/projects/new?userName={{username}}">Create new Project</a>

{{>footer}}
