{{>header}}

<div class="row center-align">
    <h3>Project {{project.id}} {{project.name}}</h3>
</div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {{#project.issues}}
    <tr>
        <td>{{name}}</td>
        <td>{{description}}</td>
    </tr>
    {{/project.issues}}
    </tbody>
</table>

{{>footer}}
